{% extends 'base.html.twig' %}

{% block title %}Recruiter{% endblock %}

{% block body %}
    <h1>Recruiter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruiter.id }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ recruiter.companyName }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ recruiter.location }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ recruiter.About }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recruiter_profile_index') }}">back to list</a>

    <a href="{{ path('app_recruiter_profile_edit', {'id': recruiter.id}) }}">edit</a>

    {{ include('recruiter_profile/_delete_form.html.twig') }}
{% endblock %}
