{% extends 'base.html.twig' %}

{% block title %}Hello RecruiterController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello Recruiter ✅</h1>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_recruiter_profile_new') }}">profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_job_post_new') }}">Job Post</a>
					</li>
				</ul>
			</div>
			{% if app.user %}
				<div class="mb-3">
					<a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm">Logout</a>
			{% else %}
			{% endif %}
		</nav>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>userName</th>
					<th>Job</th>
					<th>AppliedAt</th>
					<th>Resume</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for application in applications %}
					<tr>
						<td>{{ application.id }}</td>
						<td>{{ application.jobseeker.FullName }}</td>
						<td>{{ application.job.title }}</td>
						<td>{{ application.appliedAt ? application.appliedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ application.jobseeker.Resume }}</td>
						{% if application.status == 'Applied' %}
						<td>
							<a href="{{ path('app_application_accept', {'id': application.id}) }}">accept</a>
							<a href="{{ path('app_application_reject', {'id': application.id}) }}">reject</a>
						</td>
						{% elseif application.status == 'Reject' %}
							<td>
								<a>Reject</a>
							</td>
						{% else %}
						<td>
							<a>Shortlisted</a>
						</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
